# .gitignore

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Next.js build output
.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE - Integrated Development Environment files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Various OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# dist directory
dist
